@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root { color-scheme: light; }
html, body, #root { height: 100%; }
body {
  @apply bg-gray-50 text-gray-900 antialiased;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

@layer utilities {
  .wrap-anywhere {
    overflow-wrap: anywhere;
    word-break: break-word;
    hyphens: auto;
    white-space: pre-wrap; /* preserva \n vindos do backend */
  }
}